html
  head
    meta#charset="UTF-8"
    title Hello World!
    link(rel='stylesheet', href='index.css')
    link(rel='stylesheet' href='node_modules/purecss/build/pure-min.css')
  body.noScroll
    .mainMenu
        .pure-menu
            .pure-menu-heading Main Menu
        ul.pure-menu-list
            li.pure-menu-item
                a.pure-button(target='#') One
            li.pure-menu-item
                a.pure-button(target='#') Two
            li.pure-menu-item#closeButton
                a.pure-button(target='#') Three
            

    script(src='index.js')