html
  head
    meta#charset="UTF-8"
    title Hello World!
    link(rel='stylesheet', href='index.css')
  body.noScroll
    h1 Hello World
    h2 Niklas has injected this code in jade
    p.
        We are using node <script>document.write(process.versions.node)</script>,
        Chrome <script>document.write(process.versions.chrome)</script>,
        and Electron <script>document.write(process.versions.electron)</script>.

